---
import photo from "../../assets/photo.jpg";

import ShowcaseImage from "../ShowcaseImage.astro";
---

<section
  class="mx-auto flex w-screen max-w-[2000px] justify-center gap-x-8 lg:gap-x-12 lg:pb-2 lg:pt-8 xl:gap-x-16 2xl:justify-evenly 2xl:gap-x-0"
>
  <ShowcaseImage class="rotate-2" src={photo} />
  <ShowcaseImage class="-rotate-1" src={photo} position="left top" />
  <ShowcaseImage class="rotate-2" src={photo} />
  <ShowcaseImage class="rotate-1" src={photo} />
  <ShowcaseImage class="-rotate-2" src={photo} />
</section>
