---
import placeholder from "../../assets/placeholder.jpg";
import placeholder2 from "../../assets/placeholder2.jpg";
import ShowcaseImage from "../ShowcaseImage.astro";
---

<section
  class="mx-auto flex w-screen max-w-[2000px] justify-center gap-x-8 lg:gap-x-12 xl:gap-x-16 2xl:justify-evenly 2xl:gap-x-0"
>
  <ShowcaseImage class="rotate-2" src={placeholder} />
  <ShowcaseImage class="-rotate-2" src={placeholder2} />
  <ShowcaseImage class="rotate-2" src={placeholder} />
  <ShowcaseImage class="rotate-2" src={placeholder2} />
  <ShowcaseImage class="-rotate-2" src={placeholder} />
</section>
